<div class="scale-in-center">
    <!-- ACCODIONS DE EXPERIENCIAS -->
    <div class="accordion " id="accordionExperiencia">

        <!-- INICIO A TELECOM -->
        <div class="card">
            <div class="card" id="headingOne">
                <h5 class="mb-0">
                    <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Millenium Brasil
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                data-parent="#accordionExperiencia">
                <div class="card-body">

                    <div class="col-12">
                        <div class="accordion-body">

                            <div class="row">

                                <div class="col-md-2 col-3 centralizar">
                                    <img src="assets/experiencias/millenium.png" title="Millenium Brasil"
                                        alt="Millenium Brasil">
                                </div>

                                <div class="col-md-10 col-9">

                                    <div class="row">

                                        <div class="col-12">
                                            <h4>Desenvolvedor Jr FullStack</h4>
                                        </div>

                                        <div class="col-12">
                                            <small>
                                                <i>Set 2021 - Atualmente</i>
                                            </small>
                                        </div>

                                        <br>
                                        <br>

                                        <div class="col-12 ">
                                            Desenvolvimento com Java e Angular
                                        </div>

                                        <div class="col-12">

                                            <ul>
                                                <li>
                                                    <strong>Atividades: </strong> Desenvolvimento Web FullStack
                                                </li>

                                                <li>
                                                    <strong>Cliente: </strong> Poupex.
                                                </li>

                                                <li>
                                                    <strong>Ferramentas: </strong> Java, Angular, Api Rest, Bootstrap.
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- FIM A TELECOM -->

        <!-- INICIO BANCO DO BRASIL -->
        <div class="card">
            <div class="card" id="headingTwo">
                <h5 class="mb-0">
                    <button class="accordion-button collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Banco do Brasil
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExperiencia">
                <div class="card-body">

                    <div class="col-12">


                        <div class="accordion-body">

                            <div class="row">
                                <div class="col-md-2 col-3 centralizar">
                                    <img src="assets/experiencias/bb.jpg" title="Banco do Brasil" alt="Banco do Brasil">
                                </div>

                                <div class="col-md-10 col-9">

                                    <div class="row">

                                        <div class="col-12">
                                            <h4>Estagiário</h4>
                                        </div>

                                        <div class="col-12">
                                            <small>
                                                <i>Out 2018 - Out 2020</i>
                                            </small>
                                        </div>

                                        <br>
                                        <br>

                                        <div class="col-12">
                                            Suporte técnico e desenvolvimento com Java
                                        </div>

                                        <div class="col-12">

                                            <ul>
                                                <li>
                                                    <strong>Atividades: </strong> Manutenção de máquinas e impressoras e
                                                    desenvolvimento com java.
                                                </li>

                                                <li>
                                                    <strong>Ferramentas: </strong> Java e Primefaces.
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- FIM BANCO DO BRASIL -->

        <!-- INICIO BANCO CENTRAL DO BRASIL -->
        <div class="card">
            <div class="card" id="headingThree">
                <h5 class="mb-0">
                    <button class="accordion-button collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Banco Central do Brasil
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExperiencia">
                <div class="card-body">

                    <div class="col-12">

                        <div class="accordion-body">

                            <div class="row">
                                <div class="col-md-2 col-3 centralizar">
                                    <img src="assets/experiencias/bcb.png" title="Banco Central do Brasil"
                                        alt="Banco Central do Brasil">
                                </div>

                                <div class="col-md-10 col-9">

                                    <div class="row">

                                        <div class="col-12">
                                            <h4>Estagiário</h4>
                                        </div>

                                        <div class="col-12">
                                            <small>
                                                <i>Set 2018 - Out 2018</i>
                                            </small>
                                        </div>

                                        <br>
                                        <br>

                                        <div class="col-12">
                                            Desenvolvimento Front-End
                                        </div>

                                        <div class="col-12">

                                            <ul>
                                                <li>
                                                    <strong>Atividades: </strong> Desenvolvimento de interface gráfica
                                                    para
                                                    o
                                                    site do Banco
                                                    Central do Brasil.
                                                </li>

                                                <li>
                                                    <strong>Ferramentas: </strong> Html, Css, Bootstrap e Sharepoint.
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM BANCO CENTRAL DO BRASIL -->

    </div>
</div>