<div class="scale-in-center">
    <!-- ACCODIONS DE EXPERIENCIAS -->
    <div class="accordion " id="accordionExperiencia">

        <!-- INICIO DA UPIS -->
        <div class="card">
            <div class="card" id="headingOne">
                <h5 class="mb-0">
                    <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        UPIS
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                data-parent="#accordionExperiencia">
                <div class="card-body">

                    <div class="col-12">

                        <div class="accordion-body">

                            <div class="row">

                                <div class="col-md-2 col-3">
                                    <img class="d-inline-block" src="assets/educacao/upis.png" title="União Pioneira de Integração Social" alt="UPIS">
                                </div>

                                <div class="col-md-10 col-9">

                                    <div class="row">

                                        <div class="col-12">
                                            <h4>Bacharelado em Sistema de Informação</h4>
                                        </div>

                                        <div class="col-12 ">
                                            <small>
                                                <i>Jan 2018 - Atualmente</i>
                                            </small>
                                        </div>

                                       

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- FIM DA UPIS-->

    </div>
</div>