<div class="scale-in-center">

<!-- INICIO DOS CONTATOS -->

    <div class="card">

        <div class="card-body">

            <div class="row">
                <h2 class="card-title">Meios de contato</h2>

                <h5 class="mb-3"> Se você quiser conversar, entre em contato, estou quase sempre online <img src="assets/contatos/smile.png" alt="Smile">
                </h5>

                <div class="col-12 mb-2">
                    <img src="assets/contatos/email.png">
                    <strong class="ms-2">Email: </strong>
                    <span>joaomarcelo588@gmail.com</span>
                </div>


                <div class="col-12 mb-2">
                    <img src="assets/contatos/whatsapp.png">
                    <strong class="ms-2">WhatsApp/Telefone: </strong>
                    <span>+55 61 99432-2941</span>
                </div>

                <div class="col-12 mb-2">
                    <img src="assets/contatos/instagram.png">
                    <strong class="ms-2">Instagram: </strong>
                    <span>@jmarcelo098</span>
                </div>



            </div>

        </div>

    </div>

<!-- FIM DOS CONTATOS -->

</div>