<div class="scale-in-center">

    <!-- INICIO  DAS CERTIFICAÇÕES -->
    <div class="card">

        <div class="card-body">

            <div class="row">

                <h2 class="card-title">Certificações</h2>

                <div class="col-12">

                    <div class="ms-5 ">

                        <img class="me-3" src="../../../assets/certificacoes-conquistas/bookmark-star-fill.svg"
                            width="18px">
                        <span>SPFC - Scrum Foundation Professional Certificate - </span>
                        <img src="../../assets/certificacoes-conquistas/certiProf.png" alt="Udemy" title="Udemy" width="55px"
                           >
                        
                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- FIM  DAS CERTIFICAÇÕES -->

    <!-- INICIO  DOS CURSOS -->

    <div class="card">

        <div class="card-body">
            <div class="row">
                <h2 class="card-title">Cursos</h2>
                <div class="col-12">

                    <div class="ms-5 ">
                        <img class="me-3" src="../../assets/certificacoes-conquistas/livro.svg" width="18px">
                        <span>Programação Orientada a Objetos: Java - </span>
                        <img src="../../assets/certificacoes-conquistas/udemy.png" alt="Udemy" title="Udemy"
                            width="28px">
                    </div>

                    <div class="ms-5 ">
                        <img class="me-3" src="../../assets/certificacoes-conquistas/livro.svg" width="18px">
                        <span>Java SE - F1 - </span>
                        <img src="../../assets/certificacoes-conquistas/udemy.png" alt="Udemy" title="Udemy"
                            width="28px">
                    </div>

                    <div class="ms-5 ">
                        <img class="me-3" src="../../assets/certificacoes-conquistas/livro.svg" width="18px">
                        <span>Introdução ao Java e Orientação a objetos - </span>
                        <img src="../../assets/certificacoes-conquistas/udemy.png" alt="Udemy" title="Udemy"
                            width="28px">
                    </div>

                    <div class="ms-5 ">
                        <img class="me-3" src="../../assets/certificacoes-conquistas/livro.svg" width="18px">
                        <span>Introdução a banco de dados com MySQL - </span>
                        <img src="../../assets/certificacoes-conquistas/udemy.png" alt="Udemy" title="Udemy"
                            width="28px">
                    </div>

                </div>

            </div>

        </div>



    </div>

    <!-- FIM DOS CURSOS -->

</div>